/*
  Naming:
  #1: Regular components start with a c, for example: c-title or c-button
  #2: Layout components start with a cl, for example: cl-footer or cl-menu
*/

*,
*::before,
*::after {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.c-uppercase {
  text-transform: uppercase;
}

.c-small-caps-bold {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.c-title {
  text-align: center;
}

/* General */
.cl-banner {
  width: 100%;
  height: 25em;
  background-color: #ddd;
  display: table;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-banner-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* ---------- Preset margins ---------- */
.c-hmargin-10 {
  margin: 0 10%;
}

.c-hmargin-15 {
  margin: 0 15%;
}

.c-hmargin-20 {
  margin: 0 20%;
}

.c-hmargin-30 {
  margin: 0 30%;
}

.c-hmargin-40 {
  margin: 0 40%;
}

.c-hmargin-50 {
  margin: 0 50%;
}


/* -------------------- Navigation layouts -------------------- */
/*
  The following few hundred lines are filled with nav layouts.
  The HTML structure that goes with it, as well as example pictures of the layouts can be found on our Github page, icarusws.github.io
*/

/* ----- Metro navbar (dark) ----- */
.cl-navbar-dark-metro {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  background-color: #313131;
  position: fixed;
}

.cl-navbar-dark-metro a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #444;
  padding: 0 1em;
}

.cl-navbar a:hover {
  background-color: #777;  
}

.cl-nav-displacer-3em {
  height: 3em;
  width: 100%;
  background-color: #313131;
}

/* -------------------- Grid layouts -------------------- */
/*
  The following layouts will generate a div with a grid layout. The amount of columns, or horizontal rows, are determined by the number behind the class name.
  The direct children of this class will be put into the grid layout. If the amount of columns are filled, the next objects will be placed in a new row below.
*/

.cl-columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em 0;
  text-align: center;
}

.cl-columns-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em 0;
  text-align: center;
}

.cl-columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em 0;
  text-align: center;
}

.cl-columns-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2em 0;
  text-align: center;
}

.cl-columns-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2em 0;
  text-align: center;
}
